.app-shell {
  width: 100%;
  max-width: 100%;
  margin: var(--space-4) 0;
  padding: 0 var(--space-4);
  display: grid;
  gap: var(--space-5);
}

.app-shell.main-layout {
  grid-template-columns: minmax(12rem, 25%) minmax(0, 1fr);
  align-items: start;
  height: calc(100vh - (var(--space-6) * 2));
}

.pane-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-5);
  min-height: 0;
  height: 100%;
  overflow-y: auto;
}

.pane-left {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.projects-pane {
  padding-bottom: 0;
}

.pane-top,
.pane-bottom {
  min-height: 0;
  overflow: auto;
}

.pane-stack {
  display: grid;
  gap: var(--space-4);
}

@media (width <=1100px) {
  .app-shell {
    width: calc(100% - 1rem);
    margin: var(--space-4) auto;
  }

  .app-shell.main-layout {
    grid-template-columns: 1fr;
  }

  .pane-right {
    min-height: auto;
  }
}